
@{
    ViewBag.Title = "DisplayUserInformation";
}

<h2>Welcome @ViewBag.Name!</h2>
<br />
<br />
<h3>Your user details are:</h3>
<h4>Address:</h4>
<h4>@ViewBag.Address</h4>
<h4>@ViewBag.City, @ViewBag.State  @ViewBag.Zip</h4>
<br />

<h4>@ViewBag.Email</h4>


